@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --color-primary: #082032;
  --color-secondary:#2C394B;
  --color-third:#334756;
  --color-orange:#FF4C29;
}
html {
  font-family: "Quicksand", sans-serif;
  font-size: 62.5%;
}

.main__container{
  display: grid;
  grid-template-rows: 1fr auto 220px 180px;
  width: 100%;
  height: auto;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
.container__main {
    background: linear-gradient(180deg, #082032 0%, #2C394B 100%);
  height: 870px;
  display: grid;
  grid-template-rows: 0.5fr repeat(5,1fr);
  place-items: center;
}
.header{
    width: 100%;
    
}

.navbar {
  display: grid;
  grid-template-columns: 1fr 1fr 0.1fr;
  
  
  
}
.hamburger {
  display: none;
  justify-self: end;
  align-self: center;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in;
  background-color: #ffffff;
}
.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
    height: 3.5rem;
    width: 149px;
  margin-left: 4rem;
  padding-left: 1rem;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.25);
  box-shadow: 0px 1px 2px rgba(255, 255, 255, 0.25);
  border-radius: 8px;
}

.nav-link {
  font-size: 1.8rem;
  font-weight: 400;
  color: #fff;
}

.nav-logo {
  font-size: 4rem;
  font-weight: 500;
  color: #fff;
  justify-self: center;
  align-self: center;
}

.nav-logo img {
  width: 50px;
  height: 50px;
}

@media only screen and (max-width: 768px) {
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 7rem;
    flex-direction: column;
    background-color: #082032;
    width: 100%;

    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }
  .nav-logo{
      font-size: 3.3rem;
  }
  .nav-logo img {
    width: 40px;
    height: 40px;
  }
  
  .nav-menu.active {
    left: 0;
  }
  .navbar {
    display: grid;
    grid-template-columns: 1fr 0.4fr 0.1fr;
    
    
    
  }
  .nav-item {
    margin: 2.5rem 0;
    display: grid;
    align-items: center;
    width: 250px;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .footer__container--social img{
    width: 50px;
    height: 50px;
  }

  .container__info--foto img{
   transform: scale(1);
  }
  .container__resume p{
    font-size: 1.6rem;
  }
  .container__vector-texto p{
    font-size: small;
  }



}


.main__container::-webkit-scrollbar{
    width: 8px;
    height: 8px;
    
    
}
.main__container::-webkit-scrollbar-thumb{
    background-color:var(--color-third);
    border-radius: 4px;
}
.main__container::-webkit-scrollbar-thumb:hover {
    background: var(--color-primary);
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}
.main__container::-webkit-scrollbar-thumb:active {
    background-color: var(--color-primary);
}

.main__container::-webkit-scrollbar-track {
    background: var(--color-primary);
    
}

/* Cambiamos el fondo cuando esté en active o hover */
.main__container::-webkit-scrollbar-track:hover,
.main__container::-webkit-scrollbar-track:active {
  background: var(--color-primary);
  
}



.content__container{
  background: var(--color-primary);
  grid-row: 2/3;
}

.message__container{
  background: var(--color-third);
  display: grid;
  place-items: center;


}
.message__container p{
  color: white;
  
}
.message__container p:nth-child(1){
  font-size: 3.5rem;
  font-weight: 500;
}
.message__container p:nth-child(2){
  font-size: 1.6rem;
  font-weight: 300;
  align-self:start;
  text-align: center;
  
}

.footer__container{

  display: grid;
  grid-template-rows: 100px 1fr;
}



.footer__container--social{
  
  background: var(--color-secondary);
  display: grid;
  grid-template-columns: 1fr repeat(4,0.3fr) 1fr;
  place-items: center;
  
}
.footer__container--social a:nth-child(1){
  grid-column: 2/3;
}
.footer__container--social img{
  width: 40px;
  height: 40px;
  opacity: 0.7;
}
.footer__container--social img:hover{
  width: 40px;
  height: 40px;
  opacity: 1;
  transform: scale(1.2);
}

.footer__container--message{
  
  background: var(--color-primary);
  display: grid;

}

.footer__container--message p{
 
  color: white;
  font-size: 2rem;
  justify-self: center;
  display: grid;
  grid-template-columns: 1fr 0.3fr;
  column-gap: 5px;
  place-items: center;
}
.footer__container--message p img{
  justify-self: center;
 

}

.container__vector-texto {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: repeat(2,1fr);
  grid-template-columns: 0.3fr 0.6fr repeat(3,1fr);

}
.container__vector-texto span{
  grid-row: 2/3;
  background: var(--color-primary);
  border-radius: 0 70px 70px 0;
  
}
.container__vector-texto p:nth-child(2){
  color: white;
  grid-row: 2/3;
  grid-column: 2/3;
  font-size: 3.5rem;
  font-weight: 700;
  justify-self: center;
  align-self: end;

}
.container__vector-texto p:nth-child(3){
  color: white;
  grid-column: 3/6;
  grid-row: 2/3;
  font-size: 3rem;
  padding-left: 0.5rem;
  align-self: end;
}

.container__eng-texto{
  
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 0.5fr 0.6fr repeat(3,1fr);
  grid-template-rows: repeat(2,1fr);
}
.container__circle{
  border-radius: 0 70px 70px 0;
  background: var(--color-orange);
  opacity: 0.4;
}
.container__eng-texto--txt{
  grid-row: 1/3;
  grid-column: 2/6;
  display: grid;
}


.container__resume{
  display: grid;
  grid-template-rows: 2fr 0.4fr;
  font-size: 2rem;
}
.container__resume p{
  color: white;
  align-self: center;
}

.container__info{
  width: 100%;
  height: 100%;
  grid-row: 4/7;
  display: grid;
  grid-template-columns: 0.1fr 0.5fr 0.5fr 0.1fr;
}
.container__info--foto{
  grid-column: 3/4;
  place-self: center;
}

.eng-texto--ingeniero{
  color: white;
  font-size:2.8rem;
}

.eng-texto--ingeniero p{
  font-weight: 300;

}
.eng-texto--ingeniero span{
  font-weight: 700;

}
.eng-texto--creatividad{
  color: white;
  font-size: 2.3rem;
  
  align-self: center;
  
}

.eng-texto--creatividad span{
  color: var(--color-orange);
  text-shadow: 0px 4px 15px rgba(255, 255, 255, 0.25);
  font-size: 4rem;
  font-weight: 600;


}

.container__info--foto img{
  width: 100%;
  height: 100%;
}

.content__container{
  height: 800px;
  display: grid;
  grid-template-rows: repeat(6,1fr);
}