@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --color-primary: #082032;
  --color-secondary:#2C394B;
  --color-third:#334756;
  --color-orange:#FF4C29;
}
html {
  font-family: "Quicksand", sans-serif;
  font-size: 62.5%;
}

.main__container::-webkit-scrollbar{
    width: 8px;
    height: 8px;
    
    
}
.main__container::-webkit-scrollbar-thumb{
    background-color:var(--color-third);
    border-radius: 4px;
}
.main__container::-webkit-scrollbar-thumb:hover {
    background: var(--color-primary);
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}
.main__container::-webkit-scrollbar-thumb:active {
    background-color: var(--color-primary);
}

.main__container::-webkit-scrollbar-track {
    background: var(--color-primary);
    
}

/* Cambiamos el fondo cuando esté en active o hover */
.main__container::-webkit-scrollbar-track:hover,
.main__container::-webkit-scrollbar-track:active {
  background: var(--color-primary);
  
}

.main__container {
  display: grid;
  grid-template-rows: repeat(2, 1fr) 220px 180px;
  width: 100%;
  height: auto;
}











.container__header {
  height: 879px;
  background: linear-gradient(180deg, #082032 0%, #2c394b 100%);
  display: grid;
  grid-template-rows: repeat(6, 1fr);
}

.navbar__container {
  display: grid;
  grid-template-columns: 0.3fr 1fr 1fr 5fr 1fr;
}
.navbar__container li {
  list-style: none;
}
.navbar__container a {
  text-decoration: none;
}

.navbar__container--logotipo {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  align-items: center;
}
.navbar__container--logotipo img {
  width: 75px;
  height: 75px;
  justify-self: end;
}

.navbar__container--logotipo a {
  font-size: 50px;
  color: white;
  font-weight: 700;
  letter-spacing: 2px;
}

.nav-menu__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
  column-gap: 10px;
}

.nav-item {
  place-self: center;
  width: 190px;
  height: 52px;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  box-shadow: 0px 2px 10px rgba(255, 255, 255, 0.25);
  border-radius: 8px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  

}
.nav-item a {
  color: white;
  text-decoration: none;
  font-size: 22px;
  justify-self: start;
}

.nav-item img {
    padding-left: 5px;
  width: 40px;
  height: 40px;
  justify-self: center;
}

.nav-item__contact:hover{
    background: var(--color-orange);
    

}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #ffffff;
}
.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-left: 5rem;
}

.nav-link{
    font-size: 1.6rem;
    font-weight: 400;
    color: #475569;
}

.nav-link:hover{
    opacity: 1.1;
}

.nav-logo {
    font-size: 2.1rem;
    font-weight: 500;
    
}


@media only screen and (max-width: 768px) {
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: #101010;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 2.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

}
.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}





.container__vector-texto {
    display: grid;
    grid-template-rows: repeat(2,1fr);
    grid-template-columns: 0.3fr 0.6fr repeat(3,1fr);

}
.container__vector-texto span{
    grid-row: 2/3;
    background: var(--color-primary);
    border-radius: 0 70px 0 0;
    
}
.container__vector-texto p:nth-child(2){
    color: white;
    opacity: 0.9;
    grid-row: 2/3;
    grid-column: 2/3;
    font-size: 64px;
    font-weight: 700;
    justify-self: start;

}
.container__vector-texto p:nth-child(3){
    color: white;
    grid-column: 3/5;
    grid-row: 2/3;
    font-size: 64px;
}

.container__eng-texto{
    display: grid;
    grid-template-columns: 0.3fr 0.6fr repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
}
.container__circle{
    border-radius: 0 0 70px 0;
    background: var(--color-primary);
}
.container__eng-texto--txt{
    grid-row: 1/3;
    grid-column: 2/6;
    display: grid;
}


.container__resume{
    display: grid;
    grid-template-rows: 2fr 0.4fr;
}
.container__resume p{
    color: white;
    font-size: 24px;
    align-self: center;
}

.container__info{
    grid-row: 4/7;
    display: grid;
    grid-template-columns: 0.3fr repeat(2,1fr) 0.3fr;
}
.container__info--foto{
    grid-column: 3/4;
    place-self: center;
}

.eng-texto--ingeniero{
    color: white;
    font-size: 50px;
}
.eng-texto--creatividad{
    color: white;
    font-size: 36px;
    justify-self: end;
    align-self: center;
    padding-right: 100px;
}

.eng-texto--creatividad span{
    color: var(--color-orange);
    text-shadow: 0px 4px 15px rgba(255, 255, 255, 0.25);
    font-size: 70px;
    font-weight: 600;


}


.content__container{
    background: var(--color-primary);
    grid-row: 2/3;
}

.message__container{
    background: var(--color-third);
    display: grid;
    place-items: center;


}
.message__container p{
    color: white;
    
}
.message__container p:nth-child(1){
    font-size: 60px;
    font-weight: 500;
}
.message__container p:nth-child(2){
    font-size: 24px;
    font-weight: 300;
    align-self:flex-start;
}

.footer__container{
  
    display: grid;
    grid-template-rows: 100px 1fr;
}



.footer__container--social{
    
    background: var(--color-secondary);
    display: grid;
    grid-template-columns: 1fr repeat(4,0.3fr) 1fr;
    place-items: center;
    
}
.footer__container--social img:nth-child(1){
    grid-column: 2/3;
}

.footer__container--message{
    
    background: var(--color-primary);
    display: grid;

}

.footer__container--message p{
   
    color: white;
    font-size: 32px;
    justify-self: center;
    display: grid;
    grid-template-columns: 1fr 0.2fr;
    column-gap: 5px;
    place-items: center;
}
.footer__container--message p img{
    justify-self: start;

}


.nav-logo{
    background: rgba( 255, 76, 41, 0.65 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 8.0px );
-webkit-backdrop-filter: blur( 8.0px );
border-radius: 10px;
}